@use 'default';

// переменная - контейнер (ящик) для значения
$black: #202020;
$white: #fff;
$main: #FF3D00;
$context: #939393;
$bgCard: #d1c599;
$lightGrey: lightgrey;

@mixin font($size, $weight) {
    font-family: 'Montserrat';
    font-size: $size;
    font-weight: $weight;
}

@mixin btn($color, $bgcolor) {
    padding: 10px 16px;
    background-color: $bgcolor;
    color: $color;
    border-radius: 5px;
    @include font(14px, 400);
    transition: 0.4s;
    text-transform: uppercase;

    &:hover {
        box-shadow: 0 0 6px 4px rgba($color: $black, $alpha: 0.15);
        font-weight: 700;
        cursor: pointer;
    }
}

@mixin cover($height) {
    position: relative;
    width: 100%;
    padding-top: $height;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.wrapper {
    max-width: 1150px;
    margin: 0 auto;
}

section {
    margin-bottom: 80px;
}

%container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header {
    padding: 24px 0;
    color: $black;

    .wrapper {
        @extend %container;

        .nav-menu {
            @extend %container;

            nav,
            .icons {
                @extend %container;
                gap: 20px;
            }

            nav {
                padding-right: 20px;
                border-right: 1px solid $context;

                a {
                    @include font(14px, 500);
                    color: $black;
                    transition: 0.4s;
                    text-transform: uppercase;
                    letter-spacing: 3px;

                    &:hover {
                        color: $main;
                    }
                }
            }

            .icons {
                padding-left: 20px;

                svg {
                    fill: $black;
                    transition: 0.4s;

                    &:hover {
                        fill: $main;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}

.main {
    background-color: $main;

    .wrapper {
        @extend %container;

        .title,
        .img-block {
            width: 48%;
        }

        .title {
            h1 {
                @include font(56px, 900);
                font-family: 'Permanent Marker';
                color: $white;
                margin-bottom: 30px;
            }

            .btn {
                @include btn($black, $white);
            }
        }

        .cover {
            @include cover(100%);

            img {
                transform: scaleX(-1);
            }
        }
    }
}

.category {
    .wrapper {
        .container {
            @extend %container;
            &:first-child{
                margin-bottom: 2%;
            }

            .card {
                width: 32%;
                &:hover{
                    cursor: pointer;
                    h3{
                        transition: 0.4s;
                        background-color: $main;
                    }
                }
                &.big {
                    width: 66%;
                    
                    .cover {
                        @include cover(48.5%);  
                    }
                }
            }
            
            .cover {
                @include cover(100%);
                h3 {
                    background-color: transparent;
                    position: absolute;
                    top: 45%;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    z-index: 1;
                    color: $white;
                    @include font(18px,700);
                    transition: 0.4s;
                }
            }
        }
    }
}

@import 'order';
@import 'repeats';